.metabnb__showcase{
    background: var(--linear-color);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 5rem;
}

@media screen and (max-width: 768px){
    .metabnb__showcase{
        flex-direction: column;
        height: 50%;
    }
    .metabnb__showcase-img{
        margin-bottom: 20px;
    }
}
