.metabnb__nav{
    padding: 51px 100px;
    display: flex;
    justify-content: space-between;
}
.metabnb__nav img{
    align-items: center;
    width: 180px;
    height: 32px;
}
.metabnb__nav #hamburger{
    display: none;
   color: #434343;
}
.metabnb__nav-none{
    display: none;
}
.metabnb__nav .metabnb__nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.metabnb__nav .metabnb__nav-links .metabnb__nav-link{
    padding: 0 24px;
    text-decoration: none;
    color: #434343;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}
.metabnb__nav button{
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
    padding: 15px 26px 13px 27px;
    /* width: 170px; */
    height: 48px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
}

@media screen and (max-width: 1000px) {
    .metabnb__nav .metabnb__nav-links .metabnb__nav-link{
        padding: 0 12px;
    }
    .metabnb__nav{
        padding: 51px 50px;
    }
    .metabnb__nav .metabnb__nav-links{
        display: none;
    }
  }
@media screen and (max-width: 768px) {
    .metabnb__nav{
        padding: 30px;
    }
    /* .metabnb__nav #hamburger{
        display: block;
        font-size: 1.9rem;
        top: 35px;
        color: #A02279;
        right: -30px;
        position: absolute;
        cursor: pointer;
        transform: translate(-100%, 75%);
    } */
    .metabnb__nav button{
        padding: 12px;
        font-size: 12px;
    }
    .metabnb__nav img{
        width: 150px;
    }
    
  }